{% extends "pages/layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Chinook</h1>
      <p class="lead">Retrouvez tout vos artistes préférés sur ce site web.</p>
  </div>
</div>
<div class="container">
  <h1 class="display-4">Commande N°{{ invoice[0] }}</h1>
  {% for invoiceItem in invoiceItems %}
    <li class="list-group-item d-flex justify-content-between align-items-start" style="display: flex;">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          {{ invoiceItem[1] + " " + invoiceItem[2] + " " + invoiceItem["3"] }}
        </div>
      </div>

      
    </li>
    {% endfor %}
</div>
{% endblock %}